{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Войдите в свою учетную запись</h2>
{% endblock page_header %}

{% block content %}
    <form method="post" action="{% url 'users:login' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}  <!-- Замена {{ form.as_p }} в BS4-->
        {% buttons %}  <!-- Добавляет стилевое оформление Bootstrap к кнопкам -->
            <button name="submit" class="btn btn-primary">Log in</button>
        {% endbuttons %}

        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" /> <!-- Скрытый элемент формы
                                              "next", аргумент value сообщает Django, куда
                                               перенаправить пользователя после успешно выполненного входа -->
    </form>

{% endblock content %}